@model List<string[]>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Preview</h2>

<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                @foreach (var header in Model.First())
                {
                    <th style="word-wrap: normal;min-width: 70px;max-width: 70px;">
                        @header
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model.Skip(1))
            {
                <tr>
                    @foreach (var cell in row)
                    {
                        <td style="word-wrap: normal;min-width: 70px;max-width: 70px;">@cell</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
