<ul class="nav navbar-nav navbar-right">
<li class="nav-item">
    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">
        <i class="fa fa-user-plus fa-2x"></i>
        <p class="outline">Register</p>
    </a></li>
<li class="nav-item">
    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">
        <i class="fa fa-sign-in fa-2x"></i>
        <p class="outline">Log in</p>
    </a></li>
</ul>